@import "tailwindcss";

:root {
  --primary: #0056a4;
  --primary-hover: #004182;
  --secondary: #748d00;
  --background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

/* Hero 부분 그라데이션 */
.gradient-text {
  background: linear-gradient(to right, #0056a4, #748d00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
